.quote {
  color: #EA2E49;
  margin: 20px 0;

  font-family: 'Work Sans';
  font-weight: 300;

  p {
    margin: 0;
    font-size: 48px;
    line-height: 1.18;
  }

  span {
    display: block;
    margin-top: 15px;
  }
}