@import '../../styles/main.less';

@menuHeightOnDesktop: 78px;
@menuHeightOnMobile: 69px;

@contentPaddingTop: 60px;
@contentPaddingLeft: 25px;

.contentTemplate {
  background-color: #fff;
  color: #2f2f2f;
}

.menu {
  background-color: #fff;

  color: @primary;

  a {
    color: @primary;
  }
}

.content {
  width: 100%;
  max-width: 1000px;

  margin: @menuHeightOnDesktop auto 0 auto;
  padding: @contentPaddingTop @contentPaddingLeft;
  box-sizing: border-box;

  font-size: 18px;

  h1 {
    font-size: 48px;
    max-width: 740px;
  }

  img {
    margin: 42px 0;
    width: 100%;
    height: auto;
  }

  ul {
    line-height: 1.7;
  }
}

.intro {
  max-width: 725px;
  margin: 27px 0 0 0;

  font-size: 22px;
  line-height: 1.5;
}

.markdown {
  h2 {
    margin-top: 45px;
  }

  p {
    max-width: 570px;
  }
}

.quote {
  max-width: 715px;
  margin: 80px 0 80px auto;
}

@media only screen and (max-width: @desktop) {
  .content {
    margin: @menuHeightOnMobile auto 0 auto;
  }
}

@media only screen and (max-width: @mobile) {
  .content {
    padding: 30px @contentPaddingLeft;
    font-size: 16px;

    .intro {
      font-size: 16px;
    }

    img {
      margin: 30px 0 10px -25px;
      width: calc(100% + 2 * @contentPaddingLeft);
    }

    h1 {
      font-size: 36px;
    }

    .quote {
      margin: 30px auto;
    }
  }
}