@menuHeightOnDesktop: 78px;
@menuHeightOnMobile: 70px;

@contentPaddingTop: 64px;
@contentPaddingLeft: 25px;

.home {
  .heroImage {
    margin: @menuHeightOnDesktop 84px;
    height: calc(100vh - 2 * @menuHeightOnDesktop);
  }

  .content {
    margin: 0 auto;
    width: 100%;
    max-width: 1000px;
    box-sizing: border-box;

    padding: @contentPaddingTop @contentPaddingLeft;
    
    font-size: 18px;
  }

  .section1 {
    display: flex;
    padding-top: 0;
  }

  .section2 {
    background-color: #FFFFFF;

    .contentBlock {
      width: 60%;
    }
  }

  .section3 {
    position: relative;

    .contentBlock {
      position: relative;
      width: 60%;
      margin: 0 0 0 auto;
      z-index: 10;

      a {
        color: #FFFFFF;
      }
    }
  }

  .section4 {
    .contentBlock {
      width: 60%;
    }
  }

  .backgroundImage {
    color: #FFFFFF;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    &:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;

      background-color: #000000;
      opacity: 0.5;
    }
  }

  .methodsContainer {
    background-color: #FFFFFF;
  }

  .section5 {
    position: relative;

    .quote {
      position: relative;
      color: #FFFFFF;
      width: 60%;
      z-index: 10;
    }
  }

  .about {
    background-color: #FFFFFF;
  }

  .aboutContent {
    display: flex;

    .aboutImage {
      width: 35%;
      height: 500px;

      background-size: cover;
      background-repeat: no-repeat;
      background-position: right center;
  
      margin: 0 30px 0 0;
    }

    .contentBlock {
      :first-child {
        margin-top: 0;
      }
    }
  }

  .quote {
    flex: 1;
    margin: 0 30px 0 0;
  }

  .contentBlock {
    flex: 1;
  }

  .methods {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-column-gap: 10px;

    margin-top: 24px;
    padding: 0;
    list-style: none;

    li {
      margin-bottom: 68px;
    }

    .image {
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;

      margin-bottom: 28px;
      width: 100%;
      height: 182px;
    }
  }
}

@media only screen and (max-width: 1046px) {
  .home {
    .heroImage {
      margin: @menuHeightOnMobile 0 0 0;
      height: calc(100vh - @menuHeightOnMobile);
    }

    .section1 {
      padding-top: @contentPaddingTop;
    }

    .methods {
      grid-template-columns: auto auto;

      li {
        margin-bottom: 42px;
      }
    }
  }
}

@media only screen and (max-width: 650px) {
  .home {
    .content {
      font-size: 16px;
    }

    .section {
      flex-direction: column;

      .contentBlock, .quote {
        width: 100%;
      }
    }

    .quote {
      margin: 0 0 30px 0;
    }

    .methods {
      grid-template-columns: auto;
      grid-column-gap: 0;

      .image {
        margin-left: -@contentPaddingLeft;
        padding: 0 @contentPaddingLeft;
      }
    }

    .aboutContent {
      flex-direction: column;

      .aboutImage {
        width: 100%;
        height: 600px;

        margin: @contentPaddingLeft 0 @contentPaddingLeft -@contentPaddingLeft;
        padding: 0 @contentPaddingLeft;

        background-position: center;
      }
    }
  }
}