@import './main.less';

@contentPaddingTop: 64px;
@contentPaddingLeft: 25px;

.home {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  .content {
    margin: 0 auto;
    width: 100%;
    max-width: 1000px;
    box-sizing: border-box;

    padding: @contentPaddingTop @contentPaddingLeft;
    
    font-size: 18px;

    em {
      font-style: normal;
      font-size: 22px;
    }
  }

  .hero {
    height: calc(100vh + 50px);
  }

  .section0 {
    .content {
      position: relative;

      margin-top: -40px;
      padding-bottom: 30px;

      background-color: #fff;
    }

    .contentBlock {
      width: 66%;
    }
  }

  .section1 {
    display: flex;
    padding-top: @contentPaddingTop;
  }

  .section2 {
    background-color: #fff;

    .contentBlock {
      width: 60%;
    }
  }

  .section3 {
    position: relative;

    .contentBlock {
      position: relative;
      width: 60%;
      margin: 0 0 0 auto;
      z-index: 10;

      a {
        color: #fff;
      }
    }
  }

  .section4 {
    .contentBlock {
      width: 60%;
    }
  }

  .backgroundImage {
    color: #fff;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    &:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;

      background-color: #000;
      opacity: 0.5;
    }
  }

  .methodsContainer {
    background-color: #fff;
  }

  .section5 {
    position: relative;

    .quote {
      position: relative;
      color: #fff;
      width: 60%;
      z-index: 10;
    }
  }

  .about {
    background-color: #fff;
  }

  .aboutContent {
    display: flex;

    .aboutImage {
      width: 35%;
      height: 500px;

      background-size: cover;
      background-repeat: no-repeat;
      background-position: right center;
  
      margin: 0 30px 0 0;
    }

    .contentBlock {
      :first-child {
        margin-top: 0;
      }
    }
  }

  .quote {
    flex: 1;
    margin: 0 30px 0 0;
  }

  .contentBlock {
    flex: 1;
  }

  .methods {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-column-gap: 10px;

    margin-top: 24px;
    padding: 0;
    list-style: none;

    li {
      margin-bottom: 68px;
    }

    .image {
      background-size: cover;
      background-repeat: no-repeat;
      background-position: bottom center;

      margin-bottom: 28px;
      width: 100%;
      height: 182px;
    }
  }
}

@media only screen and (max-width: @desktop) {
  .home {
    .methods {
      grid-template-columns: auto auto;

      li {
        margin-bottom: 42px;
      }
    }

    .section0 {
      .content {
        margin: -40px 25px 0 25px;
        width: auto;
      }
    }
  }
}

@media only screen and (max-width: @mobile) {
  .home {
    .content {
      font-size: 16px;

      em {
        font-size: 20px;
      }
    }

    .section0 {
      .content {
        margin: -40px 0 0 0;
        width: 100%;
      }
    }

    .section1 {
      padding-top: 40px;
    }

    .section {
      flex-direction: column;

      .contentBlock, .quote {
        width: 100%;
      }
    }

    .quote {
      margin: 0 0 30px 0;
    }

    .methods {
      grid-template-columns: auto;
      grid-column-gap: 0;

      .image {
        margin-left: -@contentPaddingLeft;
        padding: 0 @contentPaddingLeft;
      }
    }

    .aboutContent {
      flex-direction: column;

      .aboutImage {
        width: 100%;
        height: 600px;

        margin: @contentPaddingLeft 0 @contentPaddingLeft -@contentPaddingLeft;
        padding: 0 @contentPaddingLeft;

        background-position: center;
      }
    }
  }
}